RUST_LOG=info,edge_agent=debug
EDGE_MQTT_ENABLED=true
EDGE_SITE=plant-a
EDGE_AGENT=edge-01
MQTT_HOST=192.168.103.70
MQTT_PORT=51883
MQTT_CLIENT_ID=edge-01

EDGE_CONFIG_URL=http://192.168.103.70:8088
EDGE_ENROLL_TOKEN=dev-edge-enroll-token
EDGE_CONFIG_HMAC_SECRET=dev-edge-config-signing-secret
EDGE_CONFIG_KEY_ID=v1

EDGE_BOOTSTRAP_PATH=C:\ProgramData\ifascada\edge\config\bootstrap.json
MQTT_OUTBOX_PATH=C:\ProgramData\ifascada\edge\mqtt_outbox.db
EDGE_RUNTIME_CACHE_PATH=C:\ProgramData\ifascada\edge\runtime_config.signed.json
EDGE_CONFIG_APPLY_RECEIPT_PATH=C:\ProgramData\ifascada\edge\config_apply_receipt.json
