[package]
name = "migration"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
sea-orm-migration = { version = "1.1", features = [ "sqlx-postgres", "runtime-tokio-rustls", "sqlx-sqlite" ] }
async-trait = "0.1"
